@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(315deg, #eea2a2 0%, #cba7ec 19%, #e5a1fa 42%, #c3a3ff 79%, #7ac5d8 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Baloo 2', cursive;
    text-align: center;
    margin: 25px 0px;
    animation: floatAni 5s infinite 1s ease-in-out;
}
.gameImage{
    width: 350px;
    height: 150px;
    background-image: url(spsls.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    animation: floatAni 5s infinite ease-in-out;
}

@keyframes floatAni {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons>button{
    margin: 20px;
    font-size: 25px;
    padding: 0px 8px;
    background-color: rgb(87, 136, 241);
    border: 2px solid #ee4bd8;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    transition: all 0.5s ease-in-out;
}
.owner{
    position: absolute;
    bottom: 2%;
    color: aliceblue;
    font-family: 'Baloo 2', cursive;
    letter-spacing: 1px;
}

.rulesPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    visibility: hidden;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgcontainer{
    flex: 1;
    background: url(rules.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.backbtn{
    font-size: 35px;
    background: none;
    border: none;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}
.titleRulePage{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Baloo 2', cursive;
    margin-top: 25px;
}
.ruleslist{
    width: 60%;
    margin: auto;
    margin-top: 0;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Baloo 2', cursive;
}
.startBtn:hover,.rulesBtn:hover,.backbtn:hover{
    transform: scale(1.1);
}

.gamepage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
.scoreboard{
    display: flex;
    justify-content: space-around;
}
.scoreboard>div{
    margin-top: 20px;
    color: rgb(236, 236, 236);
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    letter-spacing: 1px;
}
.instructions{
    text-align: center;
    color: rgb(236, 236, 236);
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}
.option-tray{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.option-tray>div{
    width: 100px;
    height: 100px;
}
.option-tray>div>img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.option-tray>div>img:hover{
    transform: scale(1.15);
}
.resultContainer{
    height: 45vh;
    display: flex;
    justify-content: space-around;
}
.resultContainer>div{
    width: 300px;
    height: 95%;
    border: 2px solid #9a77db;
    border-radius: 10px;
}
.playerBox{
    width: 100%;
    height: 100%;
    background: url(rock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transform: rotateY(180deg);
}
.computerBox{
    width: 100%;
    height: 100%;
    background: url(rock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

@media screen and (max-width: 600px) {
    .rulesPage{
        flex-direction: column;
    }
    .ruleslist{
        font-size: 19px;
    }
    .imgcontainer{
        min-height: 50vh;
        background-size: 400px 400px;
    }
    .gameImage{
        width: 95%;
        height: 90px;
    }
    .resultContainer{
        height: 25vh;
    }
    .resultContainer>div{
        width: 180px;
        height: 98%;
    }
    .scoreboard>div{
        margin-top: 60px;
    }
}

.backgroundAnimation{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.backgroundAnimation>div{
    position: absolute;
    width: 60px;
    height: 60px;
    border: 4px solid rgba(225, 225, 225, 0.8);
}
.backgroundAnimation div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.backgroundAnimation div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.backgroundAnimation div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.backgroundAnimation div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.backgroundAnimation div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.backgroundAnimation div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.backgroundAnimation div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.backgroundAnimation div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.backgroundAnimation div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.backgroundAnimation div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
